<!DOCTYPE html>
<html lang="en">
<head>
  	{% load static %}
	 <!-- Compiled and minified CSS -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">


	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <!--<link rel="stylesheet" href="{% static 'nota/css/custom.css' %}">-->

	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">
    <title>
        Comentários
    </title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Comenários</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
        <div class="col s12">
        <a href="{% url 'comentario_list' pk=0 %}" class="breadcrumb">Listar Comentarios</a>
        </div>
    </div>
  </nav>
<div class="container">
    <form method="post">
        {% csrf_token %}
<ul>
        <li>
        <select id="sltmaterial" name="CarroList">
            <option value="" disabled selected>Choose your option</option>
            {% for carro in lista %}
                <option value={{ carro.id }}>{{ carro.marca }}</option>
            {% endfor %}
        </select>
        </li>
        <li>
            <div class = "input-field col s6">
                  <i class = "medium material-icons prefix">account_box</i>
                  <input placeholder = "Titulo Comentario" name="title" value = "{{ comentario.title }}" id = "name"
                     type = "text" class = "active validate" required />
                  <label for = "name">Comentario Titulo</label>
            </div>
        </li>
        <li>
            <div class = "input-field col s6">
                  <i class = "medium material-icons prefix">comment</i>
                <textarea id = "content" name="content" placeholder="Enter Content" class = "materialize-textarea">{{ comentario.content }}</textarea>
            <label for = "name">Comentario Titulo</label>
            </div>
        </li>
        <li>
          <input type="submit" class="btn btn-primary">
        </li>
      </ul>
    </form>

</div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!--<script src="{% static 'jquery-3.2.1.min.js' %}"></script>-->
  <script type="text/javascript">
        $(".dropdown-button").dropdown({ hover: false });
        $(document).ready(function() {
            console.log("{{lista.id_carro}}");
            $('#sltmaterial').material_select();
        });

        $("#sltmaterial").val({{comentario.id_carro}});
      </script>


</body>
</html>