{% extends 'base.html' %}

{% block title %}
Listagem de Carros
{% endblock title %}

{% block content %}

<form method="get">
    <input type="text" name="busca" placeholder="Buscar Veículo">
    <button type="submit" class="btn btn-primary">
        Buscar
    </button>
</form>


<table class="table">
    <thead>
    <tr>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Ano</th>
        <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    {% for carro in lista %}
    <tr>
        <td>{{ carro.modelo }}</td>
        <td>{{ carro.marca }}</td>
        <td>{{ carro.ano }}</td>

        <td>
            <a href="{% url 'editar_carro' pk=carro.pk %}">
                <i class="material-icons">mode_edit</i>
            </a>
            <a href="{% url 'remover_carro' pk=carro.pk %}">
                <i class="material-icons">delete</i>
            </a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<a href="{% url 'cadastrar_carro' %}" class="btn btn-primary">
Cadastrar
</a>

{% endblock content %}
